fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
requests
pandas
numpy
scikit-learn
joblib
streamlit
plotly
kaleido
fpdf2
python-multipart
httpx
django
django-cors-headers
python-dateutil
reportlab
apscheduler
pyotp
qrcode